
html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #222222;
  background-color: #ffffff;
}
.text-muted {
  display: block;
  color: red;
  padding: 10px 0px;
}

.text-right {
  float: right;
}

.t-pad {
  padding-right:8px;
}

@media screen and (max-width: 768px) {
.navbar-right {
  margin-left: -2px;
  margin-top: -5px;
  padding-bottom: 10px;
}

}
